[Unit]
Description=Incoming Chatmail Postfix before queue filter 

[Service]
Environment="RUST_LOG=debug"
ExecStart={{ bin_path }} {{ config_path }} incoming
Restart=always
RestartSec=30
User=vmail

[Install]
WantedBy=multi-user.target
